html {
    scroll-behavior: smooth;
}

.section-information {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    transition: all 0.3s ease;
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    width: 34%;
    height: 500px;
    margin: 5%;
    margin-bottom: 15%;
    box-shadow: 0 0 25px rgba(5,5,38,0.1);
}

.card-title {
    margin-left: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    font-family: "Oswald", sans-serif;
    max-width: 250px;
}

.card:hover
{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.overlay {
    transition: all 0.3s ease;
    width: 100%;
    height: 0;
    overflow: hidden;
    position: absolute;
}

.card:hover > .overlay {
    position: absolute;
    top: 0;
    width:100%;
    height:100%;
    left: 0;
    background-color:rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    display: block;
}

.description {
    text-align: center;
    margin: 50% 10% 0 10%;
    font-family: "Roboto", sans-serif;
    color : white;
}

.card-img {
    height: 90%;
    width: 90%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    margin: auto;
    margin-bottom: 15px;
}

@media (max-width: 1050px) {
    #banner > .intro {
        text-align: center;
    }
    .section-information {
        min-width: 90%;
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow-x: scroll;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
    }

    .card {
        min-width: 350px;
        scroll-snap-align: center;
        scroll-snap-stop: always;
        /* margin: 5%; */
    }

    /* .card.card:not(:last-of-type) {
        margin-right: 0px;
   } */

    .section-information::after {
        content: '';
        flex: 0 0 1px;
   }
}