#projects {
    margin: 100px 200px 100px 200px;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    /* background-color: aqua; */
}

.section-header {
    font-family: "Merriweather", serif;
    font-weight: bold;
    margin-top: 50px;
    margin-left: -100px;
    font-size: 100px;
}


@media (max-width: 1350px) {
    .section-header {
        /* margin-top: -40px; */
        margin-left: -50px;
    }

    #projects {
        margin: 0 10% 10% 10%;
        /* overflow-x: scroll; */
    }
}

@media (max-width: 700px) {
    #projects {
        overflow-x: scroll;
    }
}